In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('test_yong.csv')
df.head(2)

,Source_Image_PATH,Transform_Image_PATH,A11,A12,tx,A21,A22,ty
0,center_images/46.063-62.71_13.png,transformed_images/down_-80 right_80 roate_270...,-1.836970e-16,-1.0,320.0,1.0,-1.836970e-16,8.000000e+01
1,center_images/46.449-62.648_13.png,transformed_images/down_60 right_0 roate_27046...,-1.836970e-16,-1.0,180.0,1.0,-1.836970e-16,1.739989e-14

In [13]:
x=df.iloc[0,0]

In [14]:
x

'center_images/46.063-62.71_13.png'

In [15]:
'I'+x[8:]

'Images/46.063-62.71_13.png'

In [16]:
image_name = df['Source_Image_PATH'].apply(lambda x: 'I'+x[8:])
image_name

0             Images/46.063-62.71_13.png
1            Images/46.449-62.648_13.png
2              Images/46.15-62.93_13.png
3            Images/46.213-63.089_13.png
4            Images/46.351-63.512_13.png
                      ...
2140    Images/46.035-62.872_13 copy.png
2141          Images/46.258-63.36_13.png
2142         Images/46.464-63.331_13.png
2143         Images/46.949-64.033_13.png
2144         Images/46.467-63.378_14.png
Name: Source_Image_PATH, Length: 2145, dtype: object

In [17]:
data = {
    'image_name':image_name,
    'A22':df['A22'].values,
    'A21':df['A21'].values,
    'A12':df['A12'].values,
    'A11':df['A11'].values,
    'ty':df['ty'].values,
    'tx':df['tx'].values
       }

In [18]:
df_val = pd.DataFrame(data=data)
df_val

,image_name,A22,A21,A12,A11,ty,tx
0,Images/46.063-62.71_13.png,-1.836970e-16,1.000000e+00,-1.000000e+00,-1.836970e-16,8.000000e+01,3.200000e+02
1,Images/46.449-62.648_13.png,-1.836970e-16,1.000000e+00,-1.000000e+00,-1.836970e-16,1.739989e-14,1.800000e+02
2,Images/46.15-62.93_13.png,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+02
3,Images/46.213-63.089_13.png,6.123234e-17,-1.000000e+00,1.000000e+00,6.123234e-17,2.400000e+02,-1.200000e+02
4,Images/46.351-63.512_13.png,-1.836970e-16,1.000000e+00,-1.000000e+00,-1.836970e-16,2.000000e+01,2.600000e+02
...,...,...,...,...,...,...,...
2140,Images/46.035-62.872_13 copy.png,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,6.000000e+01,0.000000e+00
2141,Images/46.258-63.36_13.png,-1.000000e+00,-1.224647e-16,1.224647e-16,-1.000000e+00,1.400000e+02,2.400000e+02
2142,Images/46.464-63.331_13.png,-1.000000e+00,-1.224647e-16,1.224647e-16,-1.000000e+00,2.400000e+02,3.000000e+02
2143,Images/46.949-64.033_13.png,-1.000000e+00,-1.224647e-16,1.224647e-16,-1.000000e+00,1.800000e+02,2.400000e+02
2144,Images/46.467-63.378_14.png,6.123234e-17,-1.000000e+00,1.000000e+00,6.123234e-17,1.600000e+02,-9.312268e-15

In [19]:
df_train.to_csv('val_240.csv', index = False)